.swiper {
    padding: 32px;
}

.swiper-slider {
    display: flex;
    justify-content: center;
}

.swiper-pagination-bullet-active {
    background: #333;
}

.swiper-button-prev {
    color: #1d1a1a;
}

.swiper-button-next {
    color: #1d1a1a;
}
