.swiper {
    width: 100%;
    max-width: 1920px;
    height: 100%;
    margin-top: 1rem;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-pagination-bullet-active {
    background: #333;
}

.swiper-button-prev {
    color: #0c0c0c;
}

.swiper-button-prev:hover {
    color: #d6d6d6;
}

.swiper-button-next {
    color: #0c0c0c;
}

.swiper-button-next:hover {
    color: #d6d6d6;
}
